.container {
    max-width: 900px;
  }
  
  .card {
    background-color: #f8f9fa;
  }
  
  .btn-primary{
    font-size: 14px;
    background-color: #1ab394;
  }
  
  
  .btn-secondary {
    font-size: 14px;
  }

  
  