<div class="container mt-5">
  <div class="card p-4 shadow">
    <!-- Store selection and search form combined -->
    <app-search-form
      [searchForm]="searchForm"
      (refresh)="onRefresh()"
      (clear)="onClear()"
    ></app-search-form>
  </div>
  <ngx-spinner name="ball-atom" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="green" type="ball-atom"></ngx-spinner>
  <div class="mt-4">
    <app-invoice-table
      [filteredData]="filteredData"
      [totalPagesArray]="totalPagesArray"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      [hasSearched]="hasSearched"
      [message]="message"
      [totalRecords]="totalRecords"
      [searchForm]="searchForm"
      
      (openModal)="openModal($event)"
      (previousPage)="previousPage()"
      (goToPage)="goToPage($event)"
      (nextPage)="nextPage()"
    >
    </app-invoice-table>
  </div>

  <!-- Invoice Modal -->
  <ng-template #invoiceModal let-modal>
    <app-invoice-modal
      [invoiceForm]="invoiceForm"
      [showQid]="showQid"
      [showPassport]="showPassport"
      [receiptNo]="receiptNo"
      [invoiceDate]="invoiceDate"
      (close)="onCloseModal()"
      (updateInvoice)="updateInvoice()"
      (onProofOfIdentityChange)="onProofOfIdentityChange()"
    ></app-invoice-modal>
  </ng-template>
</div>
