/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 900px;
  }
  
  .card {
    background-color: #f8f9fa;
  }
  
  .btn-primary {
    font-size: 14px;
    background-color: #1ab394;
  }
  
  
  .btn-secondary {
    font-size: 14px;
  }
  
  .text-danger{
    text-align: center;
  }
  
  .table-header {
    background-color: #1a7bb9;
    border: 1px solid #e7eaec;
    color: white; /* Optional: to make text readable on a dark background */
  }

  input:disabled,
select:disabled,
textarea:disabled {
    background-color: white !important; /* Keep the background white */
    cursor: not-allowed; /* Show the "not-allowed" cursor */
    opacity: 1; /* Remove the grayed-out effect */
    border: 1px solid #ccc; /* Optionally, add a border to match enabled fields */
}